@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .font-700 {
        font-weight: 700;
    }

    .font-600 {
        font-weight: 600;
    }

    .font-800 {
        font-weight: 800;
    }

    .font-900 {
        font-weight: 900;
    }

    .line-animation {
        @apply hover:no-underline;
    }

    .line-animation:hover {
        color: inherit;
    }

    .mini-btn {
        @apply px-4 py-2 text-[#F4F4F4] rounded-[24px] font-bold uppercase;
    }

    .main-title {
        @apply font-bold text-[#fff];
    }

    .section-title {
        @apply text-primary uppercase text-2xl font-700 xl:text-[55px] xl:font-900;
    }

    .collapse-title {
        @apply text-sm md:text-lg xl:text-2xl text-[#0f1f3d] font-bold uppercase;
    }

    .second-title {
        @apply text-lg md:text-2xl xl:text-4xl font-bold text-white uppercase;
    }

    .modal-subtitle {
        @apply text-primary uppercase text-lg font-700 xl:font-900;
    }

    .bg-tag-1 {
        @apply bg-[#69A8A4];
    }

    .bg-tag-2 {
        @apply bg-[#5A6BC9];
    }

    .bg-tag-3 {
        @apply bg-[#584B7D];
    }

    .bg-tag-4 {
        @apply bg-[#767E94];
    }
}
