@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .font-400 {
        font-weight: 400;
    }

    .font-600 {
        font-weight: 600;
    }

    .font-700 {
        font-weight: 700;
    }

    .font-800 {
        font-weight: 800;
    }

    .font-900 {
        font-weight: 900;
    }

    .line-animation {
        @apply hover:no-underline;
    }

    .line-animation:hover {
        color: inherit;
    }

    .mini-btn {
        @apply text-[#F4F4F4] uppercase rounded-[24px] font-700 px-4 py-2;
    }

    .main-title {
        @apply text-white font-700;
    }

    .section-title {
        @apply text-primary uppercase text-2xl font-700 xl:text-[55px] xl:font-900;
    }

    .section-title-white {
        @apply text-white uppercase font-700 text-2xl xl:text-[55px] xl:font-900;
    }

    .collapse-title {
        @apply text-primary uppercase font-700 text-sm md:text-lg xl:text-2xl xl:font-900;
    }

    .second-title {
        @apply text-white uppercase font-700 text-lg md:text-2xl xl:text-4xl;
    }

    .modal-subtitle {
        @apply text-primary uppercase font-700 text-lg xl:font-900;
    }

    .bg-tag-1 {
        @apply bg-[#69A8A4];
    }

    .bg-tag-2 {
        @apply bg-[#5A6BC9];
    }

    .bg-tag-3 {
        @apply bg-[#584B7D];
    }

    .bg-tag-4 {
        @apply bg-[#767E94];
    }
}
