*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Browser Scrollbar */
*::-webkit-scrollbar {
    width: 12px;
    height: 7px;
    margin-right: 2px;
}

*::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #0f1f3d;
    border-radius: 12px;
}

*::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #1a236e 14%, #1a236e 64%);
}

*::-webkit-scrollbar-track {
    background: rgba(245, 245, 245, 0.88);
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 0px 0px rgba(245, 245, 245, 0.88);
    box-shadow: inset 0px 0px 0px rgba(245, 245, 245, 0.88);
}

html,
body {
    background-color: #f4f4f4;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.loading {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #ddd;
    border-top-color: orange;
    animation: loading 1s linear infinite;
}
@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

.uk-modal {
    padding: 0 !important;
}

/* Uikit Accordion */
.uk-nav-parent-icon > .uk-parent > a::after {
    background-image: url("../images/icons/plus.svg");
}

.uk-nav-parent-icon > .uk-parent.uk-open > a::after {
    background-image: url("../images/icons/minus.svg");
}

.uk-nav > li > a {
    padding-top: 14px;
    padding-bottom: 14px;
}

/* Input Range Slider Thumb */
input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
}

/* Contact Form */
.form-input-anim {
    position: relative;
    overflow: hidden;
}

.form-drop-down {
    position: relative;
}

.form-input-anim label {
    position: absolute;
    left: 30px;
    width: 100%;
    top: -20px;
    height: 100%;
    pointer-events: none;
}

.form-drop-down label {
    position: absolute;
    left: 30px;
    width: 100%;
    top: -20px;
    height: 100%;
}

.form-input-anim .input {
    height: 80px;
    font-size: 18px;
    font-weight: 700;
    color: #030c18;
}

.form-input-anim.textarea-wrapper label {
    top: -330px;
}

.form-drop-down.textarea-wrapper label {
    top: -330px;
}

.form-input-anim.textarea-wrapper .textarea {
    height: auto;
    padding: 30px;
}

.form-drop-down.textarea-wrapper .textarea {
    height: auto;
    padding: 30px;
}

.form-input-anim .content-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 5px;
    transition: all 0.3s ease;
    font-size: 18px;
    font-weight: 700;
    color: #c6c6c6;
}

.form-drop-down .content-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 5px;
    transition: all 0.3s ease;
    font-size: 18px;
    font-weight: 700;
    color: #c6c6c6;
}

.form-input-anim .input:focus + .label-name .content-name,
.form-input-anim .input:valid + .label-name .content-name {
    transform: translateY(-90%);
    font-size: 18px;
    left: 0;
}

.form-input-anim .input:focus + .label-name::after,
.form-input-anim .form .input:valid + .label-name::after {
    transform: translateX(0%);
}

/* Navbar Links */
.line-animation {
    position: relative;
    width: auto;
    display: inline-block;
}

.line-animation:hover {
    text-decoration: none;
}

.line-animation::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: -7px;
    left: 0;
    border-radius: 10px;
}

.line-animation:hover {
    color: white !important;
}

.line-animation:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white !important;
    bottom: -7px;
    left: 0%;
    border-radius: 10px;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
}
