*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Browser Scrollbar */
*::-webkit-scrollbar {
    width: 12px;
    height: 7px;
    margin-right: 2px;
}

*::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #0f1f3d;
    border-radius: 0;
}

*::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #1a236e 14%, #1a236e 64%);
}

*::-webkit-scrollbar-track {
    background: rgba(245, 245, 245, 0.88);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0 rgba(245, 245, 245, 0.88);
    box-shadow: inset 0 0 0 rgba(245, 245, 245, 0.88);
}

html,
body {
    background-color: #f4f4f4;
    overflow-x: hidden;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.loading {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #ddd;
    border-top-color: orange;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

/* Lazy load images */
.lazy-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: blur(10px);
    transition: filter 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}

.lazy-image.loaded {
    filter: blur(0);
    opacity: 1;
}

/* Uikit Modal */
.uk-modal,
.uk-modal-body {
    padding: 0;
}

.uk-modal-dialog {
    margin-left: auto;
    margin-right: auto;
}

/* Uikit Accordion */
.uk-nav-parent-icon > .uk-parent > a::after {
    background-image: url("../images/icons/plus.svg");
}

.uk-nav-parent-icon > .uk-parent.uk-open > a::after {
    background-image: url("../images/icons/minus.svg");
}

.uk-nav > li > a {
    padding-top: 14px;
    padding-bottom: 14px;
}

/* Uikit dropdown */
.uk-dropdown {
    min-width: 60px;
}

/* NoUI Slider */
/* Track background */
.noUi-target {
    border: none;
    background-color: #0f1f3d;
    border-radius: 8px;
    height: 8px;
}

/* Handles */
.noUi-horizontal .noUi-handle {
    top: -8px;
    background: #0f1f3d;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.noUi-handle {
    cursor: pointer;
    border: none;
    box-shadow: none;
}

.noUi-handle:after,
.noUi-handle:before {
    display: none;
}

/* Connect line between handles */
.noUi-connect {
    background-color: #c6c6c6;
}

/* Swiper */
.swiper {
    overflow: hidden;
    border-radius: 25px;
}

/* Swiper Bullets */
.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: #c6c6c6;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
    width: 72px;
    height: 14px;
    border-radius: 100px;
    background-color: #888888;
    transition: all 0.3s ease-in-out;
}

/* Swiper Buttons */
.swiper-button-prev,
.swiper-button-next {
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.5)
    ); /* Dark circle with gradient */
    border-radius: 50%; /* Circular shape */
    width: 30px; /* Smaller width */
    height: 30px; /* Smaller height */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.7)
    ); /* Darker gradient on hover */
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 12px; /* Smaller icon size */
    color: white; /* Icon color */
}

/* Custom tooltips */
.custom-tooltip {
    position: absolute;
    top: -30px;
    color: white;
    background: #333;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
}

/* Contact Form */
.form-input-anim {
    position: relative;
    overflow: hidden;
}

.form-drop-down {
    position: relative;
}

.form-input-anim label {
    position: absolute;
    left: 30px;
    width: 100%;
    top: -20px;
    height: 100%;
    pointer-events: none;
}

.form-drop-down label {
    position: absolute;
    left: 30px;
    width: 100%;
    top: -20px;
    height: 100%;
}

.form-input-anim .input {
    height: 80px;
    font-size: 18px;
    font-weight: 700;
    color: #030c18;
}

.form-input-anim.textarea-wrapper label {
    top: -330px;
}

.form-drop-down.textarea-wrapper label {
    top: -330px;
}

.form-input-anim.textarea-wrapper .textarea {
    height: auto;
    padding: 30px;
}

.form-drop-down.textarea-wrapper .textarea {
    height: auto;
    padding: 30px;
}

.form-input-anim .content-name {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 5px;
    transition: all 0.3s ease;
    font-size: 18px;
    font-weight: 700;
    color: #c6c6c6;
}

.form-drop-down .content-name {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 5px;
    transition: all 0.3s ease;
    font-size: 18px;
    font-weight: 700;
    color: #c6c6c6;
}

.form-input-anim .input:focus + .label-name .content-name,
.form-input-anim .input:valid + .label-name .content-name {
    display: none;
    font-size: 18px;
    left: 0;
}

.form-input-anim .input:focus + .label-name::after,
.form-input-anim .form .input:valid + .label-name::after {
    transform: translateX(0%);
}

/* Navbar Links */
.line-animation {
    position: relative;
    width: auto;
    display: inline-block;
}

.line-animation:hover {
    text-decoration: none;
}

.line-animation::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: -7px;
    left: 0;
    border-radius: 10px;
}

.line-animation:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white !important;
    bottom: -7px;
    left: 0;
    border-radius: 10px;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
}
